{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties","transform-remove-strict-mode"],
  "ignore": [ "lib/mui/js/mui.min.js" ]
}